|
| # <style>* { font-family: monospace; white-space: pre; }</style>
| # In case you are not reditected, please follow this link:
| #     #[a(href=dotfiles.repo) #{dotfiles.repo}]
| #
|
| printf '%.s-' {1..79}; echo
|

if secure
    | script="$(curl -L '#{dotfiles.tool}')"
    | printf '%.s-' {1..79}; echo; echo
    | echo "$script" | bash -s -- "$@"
else
    | echo -e >&2 "\nERROR: Please use HTTPS"

|
|
|
|
|
|
| #
| #
| #     Usage:
| #         curl #{curlUrl} | bash -s -- [arguments]
| #
| #
|

if ! secure
    | #     WARNING: Please use HTTPS
    | #
    | #
    |

| 
|
